@using Microsoft.AspNetCore.Http
@using System.Web;
@using System.Collections;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
@model RenovationFinale.Models.Evaluation


@{
    ViewData["Title"] = "Create";
    var userId = context.HttpContext.Request.Cookies["nameIdentifier"];
   
    
}

<h1>Create</h1>

<h4>Evaluation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="IdUtilisateur" class="control-label"></label>*@
            <input name="IdUtilisateur" value="userId" type="hidden" />
              @*  <select asp-for="IdUtilisateur" class ="form-control" asp-items="ViewBag.IdUtilisateur"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="IdFournisseur" class="control-label mb-2">Fournisseur</label>
               
                <select asp-for="IdFournisseur" class="form-control mb-2" asp-items="ViewBag.IdFournisseur"></select>
           @* <input name="IdFournisseur" value="ViewBag.IdFournisseur" type="hidden" />
                *@
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label mb-2"></label>
                <input asp-for="Note" class="form-control mb-2" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commentaire" class="control-label mb-2"></label>
                <input asp-for="Commentaire" class="form-control mb-2" />
                <span asp-validation-for="Commentaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-4 mb-4" />
            </div>
        </form>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-4">
        @if (TempData["messageError"] != null)
        {
                <p class="text text-danger">@TempData["messageError"]</p>
        }

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
