
@{
    ViewData["Title"] = "Desactive";
}

<h1 clss="text-danger">Désolé, votre compte est désactivé</h1>
<p>si vous avez récemment créé un compte, veuillez attendre qu'il soit activé. Si nous avions un cont actif et qu'il est maintenant inactif, cela signifie que vous n'avez pas respecté les règles de l'application. Veuillez envoyer un courriel à reactivate@renovation.ca.qc</p>

