
@{
    ViewData["Title"] = "Index";
}

<form asp-action="Login">
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="" />
    <button>Login</button>
</form>