@model RenovationFinale.Models.Announce

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Announce</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="IdAnnounce" class="control-label"></label>
                <input asp-for="IdAnnounce" class="form-control" />
                <span asp-validation-for="IdAnnounce" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duree" class="control-label"></label>
                <input asp-for="Duree" class="form-control" />
                <span asp-validation-for="Duree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dimensions" class="control-label"></label>
                <input asp-for="Dimensions" class="form-control" />
                <span asp-validation-for="Dimensions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutreInformations" class="control-label">Autre Informations</label>
                <input asp-for="AutreInformations" class="form-control" />
                <span asp-validation-for="AutreInformations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etat" class="control-label"></label>
                <select class="form-control" id="Etat" name="Etat">
                    <option value="Activé">Activé</option>
                    <option value="Désactivé">Désactivé</option>
                </select>
               @* <input asp-for="Etat" class="form-control" />*@
                <span asp-validation-for="Etat" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="IdUtilisateur" class="control-label"></label>
                <select asp-for="IdUtilisateur" class ="form-control" asp-items="ViewBag.IdUtilisateur"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="IdPiece" class="control-label">Piece</label>
                @Html.DropDownList("IdPiece",null,"",new { @class = "form-control"})
              @*  @Html.DropDownList("IdPiece")*@
                @*<select asp-for="IdPiece" class ="form-control" asp-items="ViewBag.IdPiece"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="IdTypeRenovation" class="control-label">Type de renovation</label>
                @Html.DropDownList("IdTypeRenovation",null,"",new { @class = "form-control"})
                @*<select asp-for="IdTypeRenovation" class ="form-control" asp-items="ViewBag.IdTypeRenovation"></select>*@
            </div>
           @* <div class="form-group">
                <label asp-for="IdDesactivateur" class="control-label"></label>
                <select asp-for="IdDesactivateur" class ="form-control" asp-items="ViewBag.IdDesactivateur"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
