@{
    ViewData["Title"] = "Renovation";
}

<div class="container-fluid banner">
    <div class="text-homepage">
        
            <div class="text-center" info">
                <h1 class="text-center text-white">CONCEVOIR. PLANIFIER. RÉALISER</h1>
            <h3 class="text-center text-special mt-3">Votre Rénovation</h3>
                <a href="../login" class="btn btn-md btn-primary text-center mt-3">Commencer</a>
            </div>
        
    </div>
</div>
