@model RenovationFinale.Models.Offre

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Offre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAnnounce" />
            <input type="hidden" asp-for="IdFournisseur" />
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duree" class="control-label"></label>
                <input asp-for="Duree" class="form-control" />
                <span asp-validation-for="Duree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCommence" class="control-label"></label>
                <input asp-for="DateCommence" class="form-control" />
                <span asp-validation-for="DateCommence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etat" class="control-label"></label>
                <input asp-for="Etat" class="form-control" />
                <span asp-validation-for="Etat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
