@model RenovationFinale.Models.Membre

@{
    ViewData["Title"] = "Create";
    
}

<h1>Créer un compte membre</h1>

<h4>étape 2</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <p>Id user @TempData["idUser"]</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="IdUtilisateur" class="control-label"></label>
                <select asp-for="IdUtilisateur" class ="form-control" asp-items="ViewBag.IdUtilisateur"></select>
            </div>*@
            @Html.Hidden("IdUtilisateur", TempData["idUser"])
            <div class="form-group mb-2">
                <label asp-for="Nom" class="control-label mb-2"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Prenom" class="control-label mb-2"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Adresse" class="control-label mb-2"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Telephone" class="control-label mb-2"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
